body {
  background-color: #000;
}
.hero1 {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-image: url(/img/bg-package.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
  gap: 20px;
}
.hero1::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, rgb(0, 0, 0) 1%, rgba(0, 0, 0, 0.3) 15%);
  z-index: 1;
}

/* Seach Bar */
.search-container {
  z-index: 2;
  display: flex; /* Menggunakan flexbox untuk tata letak */
  justify-content: center; /* Memusatkan konten */
  align-items: center; /* Menyelaraskan konten secara vertikal */
  gap: 10px; /* Margin untuk jarak dari elemen lain */
  position: relative;
  margin-top: 100px;
  flex-wrap: wrap;
}

.search-bar {
  padding: 10px; /* Ruang dalam input */
  border: 1px solid #ffffff; /* Border abu-abu */
  border-radius: 5px; /* Sudut melengkung */
  font-size: 16px; /* Ukuran font */
  width: 400px; /* Lebar input */
  max-width: 100%; /* Lebar maksimum 100% untuk responsivitas */
  background-color: black;
  color: #00ff1a;
}
.search-button {
  padding: 10px 15px; /* Ruang dalam tombol */
  margin-left: 10px; /* Jarak antara input dan tombol */
  background-color: #00ff1a; /* Warna latar belakang tombol */
  color: rgb(0, 0, 0); /* Warna teks tombol */
  border: none; /* Tanpa border */
  border-radius: 5px; /* Sudut melengkung */
  cursor: pointer; /* Kursor tangan saat hover */
  font-size: 16px; /* Ukuran font tombol */
  transition: background-color 0.3s; /* Transisi saat hover */
}

.search-button:hover {
  background-color: #000000;
  color: #2fff00; /* Warna latar belakang saat hover */
}

/* Card image */
.card-img-top {
  width: 100%;
  height: auto;
  display: block;
}

/* Card body */
.card-body {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;
  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  flex-shrink: 0;
  overflow: hidden;
}

/* Title inside card */
.card-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 12px;
  color: #ffffff;
}

/* Text inside card */
.card-text {
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 16px;
  line-height: 1.5;
}

/* Button */

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

/* Card container */
.card {
  display: flex;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 0.5);
  width: 350px;

  border: 1px solid #000;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0);
  padding: 15px;
  text-align: center;
  transition: transform 0.2s;
  flex-shrink: 0;
  overflow: hidden;
  z-index: 2;
}

/*  */
#noResults {
  color: #ffffff;
  font-size: 20px;
  text-align: center;
  margin-top: 20px;
  display: none;
  z-index: 2;
}

.card-container .card .card-body .detail {
  margin-bottom: 20px;
  font-family: "poppins", sans-serif;
}

.button {
  padding: 10px 20px;
  margin-top: auto;
  background-color: #00ff1a;
  color: #000;
  border: none;
  border-radius: 5px; /* Disesuaikan */
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
  font-weight: bolder;
  bottom: 10px;
}

.button:hover {
  background-color: #000;
  color: #00ff1a;
}

.price {
  color: rgb(43, 255, 0);
  font-weight: bold;
  margin: 10px 0;
  font-size: 20px;
}
label {
  font-size: 12px;
}

/*  */
@media (max-width: 430px) {
  .hero1 {
    background-size: cover;
    background-size: 100%;
  }
  .search-container {
    flex-direction: column;
    align-items: center;
  }
  .search-bar {
    width: 300px;
  }
}
@media (max-width: 1180px) {
  .search-container {
    flex-direction: column;
    align-items: center;
  }
}
